GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SESSION_SECRET=
APP_URL=http://localhost:3000
TEAM_EMAILS=jderchild@gmail.com
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
SPREADSHEET_ID=1sj0Ax-RvcAYJuKMLQ0DphswKB5hrcylD-uMFeSp2MaI
